@model Bookshelf.Models.User
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
</head>
<body>
    <center>
        <h1>
            Rejestracja
        </h1>
    <form action="/home/successfullregister" method="post">
        <label>Imię:</label><br>
        <input type="text" asp-for="Name"><br>

        <label>Nazwisko:</label><br>
        <input type="text" asp-for="Surname"><br>

        <label>Email:</label><br>
        <input type="text" asp-for="Email"><br>

        <label>Login:</label><br>
        <input type="text" asp-for="Login"><br>

        <label>Hasło:</label><br>
        <input type="text" asp-for="Password"><br><br>

        <input type="submit" value="Zarejestruj się" asp-area="" asp-controller="Home" asp-action="TryRegister"><br><br>
        <input type="submit" value="Mam już konto" asp-area="" asp-controller="Home" asp-action="Login"><br><br>
    </form>
    </center>
</body>
</html>