@{
    ViewData["Title"] = "Unsuccessfull Register";
}

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannot register</title>
</head>
<body>
    <center>
        <h1>
            Cannot register.
        </h1>
    </center>
</body>
</html>