@{
    ViewData["Title"] = "Search";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie do biblioteki</title>
</head>
<body>
    <center>
        <h1>
            Książki
        </h1>
        <form action="/account/searchbook" method="post">
            <label>Podaj tytuł książki:</label><br>
            <input type="text" name="title"><br><br>
            <input type="submit" value="Wyszukaj"><br><br>
        </form>
        @if (Global.foundBooks.Any())
        {
        <div class="container">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Autor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var book in Global.foundBooks)
                        {
                        <tr>
                            @{var index = Global.foundBooks.IndexOf(book) + 1;}
                            <td>@index</td>
                            <td>@book.VolumeInfo.Title</td>
                            <td>@book.VolumeInfo.Authors.First()</td>
                            <td>
                                <form action="/account/choose" method="post">
                                    <input type="hidden" name="selectedBookNumber" value="@index">
                                    <input type="submit" value="Wybierz">
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                </div>
            }
    </center>
</body>
</html>