@{
    ViewData["Title"] = "Bookshelf";
    var index = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie do biblioteki</title>
</head>
<body>
    <center>
        <h1>
            Twoja biblioteka
        </h1>
        @if (Global.books.Any())
        {
        <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Przeczytane strony</th>
                            <th scope="col">Zmień ilość przeczytanych stron</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var book in Global.books)
                        {
                        <tr>
                            @{index = index + 1;}
                            <td>@index</td>
                            <td>@book.Book_title</td>
                            <td>@book.PagesRead</td>
                            <td>
                                <form action="/account/change_page" method="post">
                                    <input type="hidden" name="selectedBook" value="@book.Book_title">
                                    <input type="text" name="selectedPageNumber">
                                    <input type="submit" value="Zmień">
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                </div>
            }
    </center>
</body>
</html>