@{
    ViewData["Title"] = "Search";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie do biblioteki</title>
</head>
<body>
    <center>
        <h1>
            Książki
        </h1>
        <form action="/home/search" method="post">
            <label>Nazwa:</label><br>
            <input type="text" name=""><br><br>

            <input type="submit" value="Wyszukaj"><br><br>
        </form>

        <div class="container">
             <!--if(API cokowliek znalazło) a niżej trzeba podać to co api zwróci-->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Autor</th>
                    </tr>
                </thead>
                <tbody>
                    <!--foreach (var book in books) dla każdego wyniku dodaj -->
                    {
                        <tr>
                            <td>1</td> <!--tutaj indeks wyniku (po prostu po kolei 1 2 3 4...)-->
                            <td>Tytuł</td>
                            <td>Autor</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            <form action="/home/choose" method="post">
                <label>Wybierz książkę numer:</label><br>
            <input type="text" name=""><br><br>

                <input type="submit" value="Wybierz"><br><br>
            </form>
    </center>
</body>
</html>